@charset "utf-8";
@import "normalize";

body {
  background: #fff;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.logo img {
  height: 18.75em;
  margin-top: 6em;
}

h1 {
  color: rgba(0,0,0,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

.doc {
  margin: 3em 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;

  a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.75em 0.7em;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      transition: all 0.15s linear;
    }
  }
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

/*___________________________________________________*/

.y.axisLeft text {
  fill: #0099cc;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: #ff9966;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.bar1 {
  fill: #0099cc;
}
.bar2 {
  fill: #990099;
}

.envLine {
  fill:rgb(220,220,220);
  stroke: none;
}

.percent0 { fill: #ffffff; }
.percent5 { fill: #f2f2f2; }
.percent10 { fill: #e6e6e6; }
.percent15 { fill: #d9d9d9; }
.percent20 { fill: #cccccc; }
.percent25 { fill: #bfbfbf; }
.percent30 { fill: #b3b3b3; }
.percent35 { fill: #a6a6a6; }
.percent40 { fill: #999999; }
.percent45 { fill: #8c8c8c; }
.percent50 { fill: #808080; }
.percent55 { fill: #737373; }
.percent60 { fill: #666666; }
.percent65 { fill: #595959; }
.percent70 { fill: #4d4d4d; }
.percent75 { fill: #404040; }
.percent80 { fill: #333333; }
.percent85 { fill: #262626; }
.percent90 { fill: #1a1a1a; }
.percent95 { fill: #0d0d0d; }
.percent100 { fill: #000000; }

.env-container { 
  stroke: black;
}

.grp1 {
  fill: #0099cc;
}

.grp2 {
  fill: #990099;
}

