@charset "utf-8";
@import "normalize";

body {
  background: #fff;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 150%;
  box-sizing: border-box;
}

h1 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 400;
  margin-top: 100px;
}

h2 {
  font-size: 1.5rem;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}

h2.explanation {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  color: rgba(0,0,0,0.5);
  margin-top: 0;
}

h3 {
  font-size: 1.1rem;
  margin-bottom: 3rem;
}

input {
  max-width: 100%;
}

.num-inputs input {
  margin-left: 0.5rem;
}

.y.axisLeft text {
  fill: #000;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: #ff9966;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.bar1 {
  fill: #0099cc;
}
.bar2 {
  fill: #990099;
}

.envLine {
  fill:rgb(220,220,220);
  stroke: none;
}

.gradient { 
  stroke: black;
  stroke-width: 0.5px;
}

.percent100 { fill: #ffffff; }
.percent95 { fill: #f2f2f2; }
.percent90 { fill: #e6e6e6; }
.percent85 { fill: #d9d9d9; }
.percent80 { fill: #cccccc; }
.percent75 { fill: #bfbfbf; }
.percent70 { fill: #b3b3b3; }
.percent65 { fill: #a6a6a6; }
.percent60 { fill: #999999; }
.percent55 { fill: #8c8c8c; }
.percent50 { fill: #808080; }
.percent45 { fill: #737373; }
.percent40 { fill: #666666; }
.percent35 { fill: #595959; }
.percent30 { fill: #4d4d4d; }
.percent25 { fill: #404040; }
.percent20 { fill: #333333; }
.percent15 { fill: #262626; }
.percent10 { fill: #1a1a1a; }
.percent5 { fill: #0d0d0d; }
.percent0 { fill: #000000; }

.env-container { 
  stroke: black;
}

.grp1 {
  fill: #0099cc;
}

.grp2 {
  fill: #990099;
}

.grp-env {
  fill: rgb(215,215,215);
  filter: url(#f1);
}

.start-stop {
  margin: 2.5rem 0 2rem 0;
  display: block;
}

.start-stop button {
  min-width: 100px;
  width: 10%;
  font-size: 1.2rem;
}

.control {
  border: 1px solid black;
  background-color: #eee;
  margin: 3rem auto;
  width: 80%;
}

p {
  text-align: justify;
}

.moth {
  transition: stroke 0.20s ease;
}

.env:hover .moth {
  stroke: #cc5200;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 1%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.tooltip-freq {
  color: aqua;
}

.generation {
  padding-bottom: 0.2rem;
}

.below-gen {
  padding-bottom: 0.1rem;
}

.population {
  padding-right: 1.5rem;
}

.color-category {
  padding-right: 2rem;
}

.radio-label {
  padding-right: 1.5rem;
}

.how-it-works {
  margin: 0 auto 2rem auto;
  width: 70%;
}

.how-it-works li {
  text-align: left;
  margin: 1rem;
}

form {
  margin: 1.5rem;
}

.nums {
  display: block;
  margin: 1.5rem 0;
}

table {
  margin: 0 auto;
  padding-top: 1.2rem;
}

td {
  text-align: left;
}

.range {
  font-size: 0.7rem;
}

.input-box {
  padding: 0.5rem 4rem 0.5rem 1rem;
}

.control h2 {
  margin: 1rem;
}


footer {
  display: inline-block;
  padding: 1.5rem 0;
  margin: 0 auto;
  line-height: 100%;
}

.copy {
  font-size: 0.6rem;
}

.contact {
  display: block;
  font-size: 0.6rem;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    font-size: 0.8rem;
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 7px 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 85%;
    left: 50%;
    margin-left: -205px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.25s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.fa {
  padding-left: 0.2rem;
  font-size: 0.8rem;
}

.radio-table {
  padding-top: 0rem;
}

.radio-table-2 td {
  padding-top: 1rem;
}

.radio-label {
  font-size: 0.9rem;
}

.explanation {
  font-style: italic;
}

.divider {
  margin: 0 0.3rem;
}

.gen-tooltip {
  padding-right: 0.4rem;
}

.how-to {
  margin: 0 auto;
  width: 75%;
  border: 0.5px solid #eee;
  background-color: #eee;
  font-size: 0.8rem;
  text-align: left;
}

.how-to-inner {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;

  -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
  -moz-column-gap: 30px; /* Firefox */
  column-gap: 30px;

  margin-right: 2rem;
}

.how-to-inner li.mut {
  padding-top: 2rem;
}

.how-to > p {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.how-to-explanation {
  margin: 0;
  color: #555;
}

input#toggle {
  display: none;
  visibility: hidden;
}

label.expand {
  display: block;
  padding: 0.5em;
  text-align: center;
  margin-top: 2rem;
  font-variant: small-caps;
  border-bottom: 1px solid #CCC;
  font-size: 1.8rem;
  color: #002699;
}

label.expand:hover {
  color: #000;
  cursor: pointer;
}

label.expand::before {
  background-color: #4F5150;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  content: "+";
  display: inline-block;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
}

#expand {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

#toggle:checked ~ #expand {
  max-height: 750px;
}

#toggle:checked ~ label::before {
  content: "-";
}

.settings {
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  margin: 0 0.2rem;
}

.how-it-works {
  margin-top: 2rem;
  border-top: 1px solid #CCC;
}

.main-graphic-container, .container-for-3d, .chart-container {
  display: inline-block;
  margin: 0 auto;
  width: 400px;
  padding: 1rem;
}

.caption {
  font-size: 0.9rem;
  color: #666;
  text-align: center;
}

nav > ul {
  list-style: none;
  margin: 0.5rem 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background: #a3a3c2; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#a3a3c2, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#a3a3c2, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#a3a3c2, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#a3a3c2, #fff); /* Standard syntax */
}

nav li {
  font-size: 0.8rem;
  margin: 0 0.5rem;
  display: inline-block;
}

.main-graphic-container {
  vertical-align: top;
}

.little {
  font-size: 0.9rem;
  color: #888;
}

.num-inputs {
  margin: 1.2rem 1rem;
  display: inline-block;
  text-align: left;
}

.population, .color-category, .input-label {
  font-size: 1.1rem;
}

#stop {
  display: none;
}