<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta http-equiv="Content-Type" content="application/xhtml+xml">

    <title>Evolution in Color</title>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
    <script   src="/jQuery/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/d3/d3.min.js"></script>
    <script type="text/javascript" src="/d3/d3-tip.js"></script>
    <script type="text/javascript" src="/three/three.js"></script>

    <%= stylesheet_link_tag :site %>
  </head>

  <body class="<%= page_classes %>">

  <nav>
    <ul>
      <!-- <li><a href="#top" id="back-to-top">Back to Top</a></li> -->
      <li><a href="#moth-history" id="nav-history">Peppered Moth History</a></li>
      <li><a href="#all-visualizations" id="nav-sim">Simulation</a></li>
      <li><a href="#how-it-works" id="nav-how">How it works</a></li>
    </ul>
  </nav>

    <h1>Evolution in Color</h1>
    <h2 class="explanation">Modeling color changes of peppered moths, a classic example of evolution, using a genetic algorithm</h2>

    <div id="moth-history">
      <!-- <h2 id="moth-h2">A brief history...</h2> -->
      <!-- <a href="#all-visualizations" id="take-me-there">(Skip)</a> -->
      <p>In the early-1800's, peppered moths lived on lichen-covered birch trees and were white with black speckles, making them blend in with their environment. An all-black variant of the peppered moth was virtually unknown.</p>

      <p>After the industrial revolution, soot was pumped out into the atmosphere, changing the moths' habitat by making the trees dark and bare. Moths that were previously well camouflaged became easy prey, and the black variant of the moth began to thrive. Within a century, most of the moths in the region were black.</p>

      <p>As environmental regulations became more strict and the air was cleaned up, the trees became light again&mdash;and the moth population once again changed. Within decades, white peppered moths were abundant, and black ones were rare.</p>

      <p class="explanation">This simulation demonstrates the effects of mutation and fitness advantage in achieving such rapid changes toward a highly camouflaged population.</p>
    </div>

    <%= yield %>


    <p class="generation">
      <div class="tooltip gen-tooltip"><i class="startin-pop fa fa-question-circle" aria-hidden="true"></i>
        <span class="tooltiptext">Generation: a new population of children, each created by 2 parents.<br>The simulation shows a snapshot of what the population looks like every 10 generations.</span>
      </div>
      Generation: <span class="gen">0</span>
    </p>
    <p class="above-gen">&nbsp;</p>
    
    <div class="start-stop" id="simulation">
      <button id="start">Start</button>
      <button id="stop">Stop</button>
      <button id="reset">Reset</button>
    </div>

    <div class="scenarios">
      <h2>Choose a scenario, or adjust the settings manually below:</h2>
      <ul>
        <button class="scenario-button" id="scenario-a"><li>
          <strong>Uncamouflaged population, with high mutation rate</strong>
          <div class="tooltip"><i class="startin-pop fa fa-question-circle" aria-hidden="true"></i>
            <span class="tooltiptext scenario-description">The single-chromosome population, being white in a black environment, stands out easily and is highly unfit.<p></p>Random mutations occur that change the shade of some moths. If the mutation makes them darker, they're harder to see by predators, and they survive longer (their fitness increases). Because of this, they're more likely to reproduce and create more dark moths in the next generation.<p></p>Over time, all the moths in the population will become black.</span>
          </div>
          
        </li></button>
        <button class="scenario-button" id="scenario-b"><li>
          <strong>Uncamouflaged population, with <em>no</em> mutation</strong>
          <div class="tooltip"><i class="startin-pop fa fa-question-circle" aria-hidden="true"></i>
            <span class="tooltiptext scenario-description">The single-chromosome population, though highly unfit, will never change color.<p></p>With no mutation and no dark moths to begin with, there's simply no way for dark moths to have a presence. Fitness advantage makes no difference here, because all the moths are the same color and thus have the same fitness score.</span>
          </div>
        </li></button>

        <button class="scenario-button" id="scenario-c"><li>
          <strong>Diverse population, with strong fitness advantage</strong>
          <div class="tooltip"><i class="startin-pop fa fa-question-circle" aria-hidden="true"></i>
            <span class="tooltiptext scenario-description">The single-chromosome population contains a wide range of grey shades, some of which already blend in well, and others which are stark against their background (which is randomly selected with each reset).<p></p>The moths that are harder to see have a higher fitness since they won't get eaten by predators as often. This makes them more likely to reproduce and create more dark moths for the next generation.<p></p>Over time, all the moths in the population will match the environment.</span>
          </div>
        </li></button>

        <button class="scenario-button" id="scenario-d"><li>
          <strong>Colorful population, with strong fitness advantage</strong>
          <div class="tooltip"><i class="startin-pop fa fa-question-circle" aria-hidden="true"></i>
            <span class="tooltiptext scenario-description">The population is colorful. Each moth has 3 chromosomes that contribute to its overall appearance (they represent red, green, and blue values).<p></p>In this more complex system, a moth must be optimized in all 3 of these chromosomes in order to fully blend in with its environment. If a moth has a single optimal chromosome, it will have an increased likelihood of surviving and reproducing. Moths with <em>multiple</em> optimal chromosomes will have the <em>highest</em> chance of reproducing.<p></p>Over time, the population will optimize all 3 values and end up highly camouflaged.</span>
          </div>
        </li></button>

        <button class="scenario-button" id="scenario-e"><li>
          <strong>Colorful population, with <em>no</em> fitness advantage</strong>
          <div class="tooltip"><i class="startin-pop fa fa-question-circle" aria-hidden="true"></i>
            <span class="tooltiptext scenario-description">The population is colorful, with each moth containing 3 chromosomes that contribute to its overall appearance (red, green, and blue values).<p></p>With no selective advantage given to moths that are similar to the environment color, reproduction happens completely randomly&mdash;every moth in the population has the same chance of passing on its characteristics.<p></p>Over time, the population will trend toward a particular color, but this is due to the distribution of the starting population and the randomness of mating (if, by chance, the initial population is mostly pink, it's likely that more pink moths will mate than any other color).
            <p></p>The final population color will likely be different from that of the environment, so the moths will not be camouflaged.</span>
          </div>
        </li></button>
      </ul>
    </div>

    <div class="control">
    <h2>Settings</h2>
    <form id="myForm">
    <table class="radio-table">
      <tr>
        <td>
          <span class="population">Population:</span>
        </td>
        <td>
          <input class="radio" id="uniform" type="radio" name="starting-pop" value="uniform" checked>
          <label class="radio-label radio-middle" for="uniform">Uniform
          <div class="tooltip"><i class="startin-pop fa fa-question-circle" aria-hidden="true"></i>
            <span class="tooltiptext">Emphasizes the importance of <em>mutation</em> as the driver for achieving an optimal solution, since no good solutions already exist in the population</span>
          </div></label>
        </td>
        <td>
          <input class="radio" id="random" type="radio" name="starting-pop" value="random">
          <label class="radio-label" for="random">Random
          <div class="tooltip"><i class="startin-pop fa fa-question-circle" aria-hidden="true"></i>
            <span class="tooltiptext">Emphasizes the importance of <em>fitness advantage</em>. Good solutions already exist and will be selected for (if fitness advantage > 0)</span>
          </div></label>
        </td>
      </tr>

      <tr class="radio-table-2">
        <td>
          <span class="color-category">Color mode:</span>
        </td>
        <td>
          <input class="radio" id="black-white" type="radio" name="pop-color" value="black-white" checked>
          <label class="radio-label radio-middle" for="black-white">Black & White
          <div class="tooltip"><i class="startin-pop fa fa-question-circle" aria-hidden="true"></i>
            <span class="tooltiptext">A simple case which optimizes only one trait (saturation)</span>
          </div></label>
        </td>
        <td>
          <input class="radio" id="color" type="radio" name="pop-color" value="color">
          <label class="radio-label" for="color">Multi-color
          <div class="tooltip"><i class="startin-pop fa fa-question-circle" aria-hidden="true"></i>
            <span class="tooltiptext">A more complex case; requires optimization of multiple traits (red, green, and blue values)</span>
          </div></label>
        </td>
      </tr>
    </table>

    <div class="num-inputs">
      <label class="input-label" for="pop-size">Population size <span class="range">(100-1000)</span>:</label>
      <input id="pop-size" type="number" name="pop-size" min="100" max="1000" value="500" step="100">
    </div>
    <div class="num-inputs">
      <label class="input-label" for="num-gens"># of Generations <span class="range">(100-1000)</span>:</label>
      <input id="num-gens" type="number" name="num-gens" min="100" max="1000" value="300" step="100">
    </div>
    <br>
    <div class="num-inputs num-inputs-2">
      <label class="input-label" for="mut-rate">Mutation rate <span class="range">(0-0.5)</span>:</label>
      <div class="tooltip"><i class="fa fa-question-circle" aria-hidden="true"></i>
        <span class="tooltiptext">A rate of 0.0001 means that there's a 1 in 10,000 chance that a mutation will occur. At a rate of 0, a Uniform population will never change color</span>
      </div>
      <input id="mut-rate" type="number" name="mut-rate" min="0" max="0.5" value="0.0002" step="0.0001">
    </div>
    <div class="num-inputs num-inputs-2">
      <label class="input-label" for="fitness">Fitness advantage <span class="range">(0-1)</span>:</label>
      <div class="tooltip"><i class="fa fa-question-circle" aria-hidden="true"></i>
        <span class="tooltiptext">Relative advantage given to individuals with higher fitness scores.<br>At 0, no advantage to being camouflaged (anyone can mate)<br>At 1, the most unfit individuals (white in a black environment, for instance) will have no chance of mating</span>
      </div>
      <input id="fitness" type="number" name="fitness" min="0" max="1" value="0.25" step="0.05">
    </div>
  </form>


<!--     <div class="how-to">
      <div class="how-to-inner">
      <ul>
        <li><strong>Population type</strong><p class="how-to-explanation"><em>Uniform</em> emphasizes the effects of mutation, while <em>Random</em> emphasizes the effects of fitness advantage</p></li>
        <li><strong>Color mode</strong><p class="how-to-explanation">Black & White is a simple case which optimizes only one trait (saturation), while multi-color is more complex and requires optimization of multiple traits</p></li>
        <li><strong>Population size</strong> (100-1000) and <strong># of generations</strong> (100-1000)<p class="how-to-explanation">Smaller populations may take more generations to reach an optimal result.</p></li>
        <li class="mut"><strong>Mutation rate</strong> (0-0.5)<p class="how-to-explanation">At 0, a Uniform population will always remain the same color, since no mutation will occur</p><p class="how-to-explanation">At 0.5, a mutation will occur at every other index of the chromosome on average</p></li>
        <li><strong>Fitness advantage</strong> (0-1)<p class="how-to-explanation">At 0, there is no advantage to individuals being camouflaged (any can mate)</p><p class="how-to-explanation">At 1, the most "unfit" individuals (white in a black environment, for instance), will have no chance of mating</p></li>
      </ul>
      </div>
    </div> -->
  </div>

  <div class="how-it-works">

      
      <h2 id="how-it-works">How does the simulation work?</h2>
      <h3>Genetic algorithms (GAs) find solutions to optimization problems by utilizing techniques inspired by evolutionary genetics, where stronger individuals outcompete weaker ones.</h3>

    <div class="list">
      <ul>
        <li>Each <strong>individual</strong> in a population represents a <strong>candidate solution</strong> to a problem.<p class="little">For example, if the problem to be solved is <em>finding the optimal color to make a moth camouflaged in its environment</em>, and the environment color is a value from 0 to 255, an individual may represent a <em>candidate solution</em> of any value within that range.</p></li>
        <li>Individuals contain properties (called <strong>chromosomes</strong>) which are evaluated for their <strong>fitness</strong> (how well they solve the problem).<p class="little">If the environment's color value is 255, and an individual has a binary chromosome '11111111' (which evaluates to 255), it has a very high <em>fitness score</em> because it solves the problem (of matching its environment) very well. On the other hand, an individual with a chromosome '00001111' (which evaluates to 15) would be very visible in its environment and would have a low fitness score.</p></li>
        <li>A weighted sampling of two individuals is taken for reproduction based on their relative fitness scores, with more fit individuals more likely to be chosen.</li>

        <li><strong>Crossing over</strong> occurs between the binary chromosomes of the two individuals, producing a <strong>child</strong>.</li>
          <svg class="chromosomes"></svg>

        <li>Random mutations can occur at any index of the child's chromosome, turning 0's to 1's and vice versa.</li>
          <svg class="mutated-chrom"></svg>

        <li>The children generated by these crossover events comprise a new population (the next <strong>generation</strong>).</li>

        <li>The simulation ends when a certain number of generations has passed.</li>
      </ul>
    </div>

    <h2 class="extending">Extending the model&mdash;adding color!</h2>
    <p>The GA is able to camouflage black and white moths easily under the right conditions&mdash;but what about a more complex system, such as individuals with multiple chromosomes, all of which must be optimized?</p>

    <p>If we introduce color into the model, we have individuals with 3 chromosomes representing red, green, and blue (and an environment which also has red, green, and blue values).  Combinations of these three colors can produce a wide spectrum of results.</p>

    <p>If we sum the fitness scores of each separate chromosome, we get an overall fitness score for a particular individual.  This overall score is used to determine the likelihood of being chosen to produce children for the next generation.</p>

    <p>As we see in the simulation, this system is able to produce a population of highly camouflaged moths even when multiple factors must be optimized.</p>

  </div>

  <footer id="copyright">
      <span class='copy'>Copyright &copy; Lisa Rolczynski 2016</span>
      <span class="contact"><a href="https://github.com/Lisa-Sano/evolution-in-color">Github</a> <span class="divider">•</span> <a href="https://www.linkedin.com/in/lisa-rolczynski-507a1811">LinkedIn</a> <span class="divider">•</span> <a href="mailto:lisa.sano@gmail.com?Subject=Hey%20Lisa" target="_top">Email Me</a></span>
  </footer>

  </body>

  <script type="text/javascript" src="/javascripts/simulate.js" charset="utf-8"></script>
</html>
