<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="/d3/d3.min.js"></script>
    <!-- <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script> -->
    <script type="text/javascript" src="/d3/d3-tip.js"></script>

    <%= stylesheet_link_tag :site %>
  </head>

  <body class="<%= page_classes %>">
    
    <div class="start-stop">
      <button id="start">Start</button>
      <button id="reset">Reset</button>
    </div>

    <p class="generation">Generation: <span class="gen">0</span></p>
    <%= yield %>

    <div class="control">
      <h2>Simulation Settings</h2>
      <form id="myForm">
      <table class="radio-table">
        <tr>
          <td>
            <span class="population">Population:</span>
          </td>
          <td>
            <input class="radio" id="uniform" type="radio" name="starting-pop" value="uniform" checked>
            <label class="radio-label" for="uniform">Uniform
            <div class="tooltip"><i class="startin-pop fa fa-question-circle" aria-hidden="true"></i>
              <span class="tooltiptext">A uniform population emphasizes the importance of <em>mutation</em> as the driver for achieving an optimal solution</span>
            </div></label>
          </td>
          <td>
            <input class="radio" id="random" type="radio" name="starting-pop" value="random">
            <label class="radio-label" for="random">Diverse
            <div class="tooltip"><i class="startin-pop fa fa-question-circle" aria-hidden="true"></i>
              <span class="tooltiptext">A diverse population is inherently better at overcoming adversity&mdash;good solutions already exist in the population and simply need to be selected for using their increased <em>fitness advantage</em></span>
            </div></label>
          </td>
        </tr>

        <tr class="radio-table-2">
        <td>
        <!-- <div class="color-radios"> -->
          <span class="color-category">Color mode:</span>
        </td>
        <td>
          <input class="radio" id="black-white" type="radio" name="pop-color" value="black-white" checked>
          <label class="radio-label" for="black-white">Black & White</label>
        </td>
        <td>
          <input class="radio" id="color" type="radio" name="pop-color" value="color">
          <label class="radio-label" for="color">Multi-color</label>
        </td>
        </tr>
      </table>
        <!-- </div> -->

        <table>
        <tr>
          <td>
          <label for="pop-size">Population size <span class="range">(100-1000)</span>:</label>
          </td>
          <td class="input-box">
          <input id="pop-size" type="number" name="pop-size" min="100" max="1000" value="500" step="100">
          </td>
          <td>
          <label for="num-gens"># of Generations <span class="range">(100-1000)</span>:</label>
          </td>
          <td class="input-box">
          <input id="num-gens" type="number" name="num-gens" min="100" max="1000" value="200" step="100">
          </td>
          </tr>

          <tr>
          <td>
          <label for="mut-rate">Mutation rate <span class="range">(0-1)</span>:</label>
          <div class="tooltip"><i class="fa fa-question-circle" aria-hidden="true"></i>
            <span class="tooltiptext">A rate of 0.0001 means that there's a 1 in 10,000 chance that a mutation will occur</span>
          </div>
          </td>
          <td class="input-box">
          <input id="mut-rate" type="number" name="mut-rate" min="0" max="1" value="0.0001" step="0.0001">
          </td>
          <td>
          <label for="fitness">Fitness advantage <span class="range">(0-1)</span>:</label>
          <div class="tooltip"><i class="fa fa-question-circle" aria-hidden="true"></i>
            <span class="tooltiptext">Relative advantage given to individuals with higher fitness scores. Higher numbers correspond with an increased likelihood that fit individuals will be chosen for mating</span>
          </div>
          </td>
          <td class="input-box">
          <input id="fitness" type="number" name="fitness" min="0" max="1" value="0.3" step="0.1">
          </td>
          </tr>

        </table>
      </form>
    </div>

  <div class="how-it-works">
    <h2>How does it work?</h2>
    <h3>Genetic Algorithms (GAs) find solutions to optimization problems by utilizing techniques inspired by evolutionary genetics, where stronger individuals outcompete weaker ones.</h3>

    <div class="list">
      <ul>
        <li>Each <strong>individual</strong> in a population represents a <strong>candidate solution</strong> to a problem.</li>
        <li>Individuals contain properties (called <strong>chromosomes</strong>) which are evaluated for their <strong>fitness</strong> (how well they solve the problem).</li>
        <li>A weighted sampling of two individuals is taken for reproduction based on their relative fitness scores, with more fit individuals more likely to be chosen.</li>

        <li><strong>Crossing over</strong> occurs between the chromosomes of the two individuals, producing a <strong>child</strong>.</li>
          <svg class="chromosomes"></svg>

        <li>Random mutations can occur at any index of the child's chromosome.</li>
          <svg class="mutated-chrom"></svg>

        <li>The children generated by these crossover events comprise a new population (the next <strong>generation</strong>).</li>

        <li>The simulation ends when a certain number of generations has been reached.</li>
      </ul>
    </div>
  </div>

  <footer id="copyright">
      <span class='copy'>Copyright &copy; Lisa Rolczynski 2016</span>
      <span class="contact"><a href="mailto:lisa.sano@gmail.com?Subject=Hey%20Lisa" target="_top">Contact me!</a></span>
  </footer>

  </body>

  <script type="text/javascript" src="/javascripts/simulate.js" charset="utf-8"></script>
</html>
