<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <title>Evolution in Color</title>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
    <script   src="/jQuery/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/d3/d3.min.js"></script>
    <script type="text/javascript" src="/d3/d3-tip.js"></script>
    <script type="text/javascript" src="/three/three.js"></script>

    <%= stylesheet_link_tag :site %>
  </head>

  <body class="<%= page_classes %>">
    <h1>Evolution in Color</h1>
    <h2 class="explanation">Modeling color changes of peppered moths, a classic example of evolution, using a genetic algorithm</h2>
    
    <div class="start-stop">
      <button id="start">Start</button>
      <button id="reset">Reset</button>
    </div>

    <p class="generation">
      <div class="tooltip gen-tooltip"><i class="startin-pop fa fa-question-circle" aria-hidden="true"></i>
        <span class="tooltiptext">A new population of children, each created by 2 "fit" parents. The sim shows a snapshot of what the population looks like every 10 generations.</span>
      </div>
      Generation: <span class="gen">0</span></p>
    <%= yield %>

    <div class="control">
      <h2>Simulation Settings</h2>
      <form id="myForm">
      <table class="radio-table">
        <tr>
          <td>
            <span class="population">Population:</span>
          </td>
          <td>
            <input class="radio" id="uniform" type="radio" name="starting-pop" value="uniform" checked>
            <label class="radio-label" for="uniform">Uniform
            <div class="tooltip"><i class="startin-pop fa fa-question-circle" aria-hidden="true"></i>
              <span class="tooltiptext">A uniform population emphasizes the importance of <em>mutation</em> as the driver for achieving an optimal solution</span>
            </div></label>
          </td>
          <td>
            <input class="radio" id="random" type="radio" name="starting-pop" value="random">
            <label class="radio-label" for="random">Random
            <div class="tooltip"><i class="startin-pop fa fa-question-circle" aria-hidden="true"></i>
              <span class="tooltiptext">A diverse population is inherently better at overcoming adversity&mdash;good solutions may already exist in the population and will be selected for due to their increased <em>fitness advantage</em></span>
            </div></label>
          </td>
        </tr>

        <tr class="radio-table-2">
          <td>
            <span class="color-category">Color mode:</span>
          </td>
          <td>
            <input class="radio" id="black-white" type="radio" name="pop-color" value="black-white" checked>
            <label class="radio-label" for="black-white">Black & White</label>
          </td>
          <td>
            <input class="radio" id="color" type="radio" name="pop-color" value="color">
            <label class="radio-label" for="color">Multi-color</label>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <td>
            <label for="pop-size">Population size <span class="range">(100-1000)</span>:</label>
          </td>
          <td class="input-box">
            <input id="pop-size" type="number" name="pop-size" min="100" max="1000" value="500" step="100">
          </td>
          <td>
            <label for="num-gens"># of Generations <span class="range">(100-1000)</span>:</label>
          </td>
          <td class="input-box">
            <input id="num-gens" type="number" name="num-gens" min="100" max="1000" value="300" step="100">
          </td>
        </tr>

        <tr>
          <td>
            <label for="mut-rate">Mutation rate <span class="range">(0-1)</span>:</label>
            <div class="tooltip"><i class="fa fa-question-circle" aria-hidden="true"></i>
              <span class="tooltiptext">A rate of 0.0001 means that there's a 1 in 10,000 chance that a mutation will occur</span>
            </div>
          </td>
          <td class="input-box">
            <input id="mut-rate" type="number" name="mut-rate" min="0" max="1" value="0.0001" step="0.0001">
          </td>
          <td>
            <label for="fitness">Fitness advantage <span class="range">(0-1)</span>:</label>
            <div class="tooltip"><i class="fa fa-question-circle" aria-hidden="true"></i>
              <span class="tooltiptext">Relative advantage given to individuals with higher fitness scores. Higher numbers correspond with an increased likelihood that fit individuals will be chosen for mating</span>
            </div>
          </td>
          <td class="input-box">
            <input id="fitness" type="number" name="fitness" min="0" max="1" value="0.3" step="0.1">
          </td>
        </tr>

      </table>
    </form>
  </div>

  <div class="how-it-works">
    <h2>Peppered moth evolution</h2>
    <p>In the early-1800's, peppered moths lived on lichen-covered birch trees and were white with black speckles, making them blend in with their environment. An all-black variant of the peppered moth was virtually unknown.</p>

    <p>After the industrial revolution, soot was pumped out into the atmosphere, changing the moths' habitat by making the trees dark and bare. Moths that were previously well camouflaged became easy prey, and the black variant of the moth began to thrive. Within a century, most of the moths in the region were black.</p>

    <p>As environmental regulations became more strict and the air was cleaned up, the trees became light again&mdash;and the moth population once again changed. Within decades, white peppered moths were abundant, and black ones were rare.</p>

    <p class="explanation">This simulation demonstrates the effects of mutation and fitness advantage in achieving such rapid changes toward a highly camouflaged population.</p>
    
    <h2>How does the simulation work?</h2>
    <h3>Genetic algorithms (GAs) find solutions to optimization problems by utilizing techniques inspired by evolutionary genetics, where stronger individuals outcompete weaker ones.</h3>

    <div class="list">
      <ul>
        <li>Each <strong>individual</strong> in a population represents a <strong>candidate solution</strong> to a problem.</li>
        <li>Individuals contain properties (called <strong>chromosomes</strong>) which are evaluated for their <strong>fitness</strong> (how well they solve the problem).</li>
        <li>A weighted sampling of two individuals is taken for reproduction based on their relative fitness scores, with more fit individuals more likely to be chosen.</li>

        <li><strong>Crossing over</strong> occurs between the chromosomes of the two individuals, producing a <strong>child</strong>.</li>
          <svg class="chromosomes"></svg>

        <li>Random mutations can occur at any index of the child's chromosome.</li>
          <svg class="mutated-chrom"></svg>

        <li>The children generated by these crossover events comprise a new population (the next <strong>generation</strong>).</li>

        <li>The simulation ends when a certain number of generations have passed.</li>
      </ul>
    </div>

    <h2>Extending the model&mdash;adding color!</h2>
    <p>The GA is able to camouflage black and white moths easily under the right conditions&mdash;but what about a more complex system, such as individuals with multiple chromosomes, all of which must be optimized?</p>

    <p>If we introduce color into the model, we have individuals with 3 chromosomes representing red, green, and blue (and an environment which also has red, green, and blue values).  Combinations of these three colors can produce a wide spectrum of results.</p>

    <p>If we sum the fitness scores of each separate chromosome, we get an overall fitness score for a particular individual.  This overall score is used to determine the likelihood of being chosen to produce children for the next generation.</p>

    <p>As we see in the simulation, this system is able to produce a population of highly camouflaged moths even when multiple factors must be optimized.</p>

  </div>

  <footer id="copyright">
      <span class='copy'>Copyright &copy; Lisa Rolczynski 2016</span>
      <span class="contact"><a href="https://github.com/Lisa-Sano/evolution-in-color">Github</a> <span class="divider">•</span> <a href="https://www.linkedin.com/in/lisa-rolczynski-507a1811">LinkedIn</a> <span class="divider">•</span> <a href="mailto:lisa.sano@gmail.com?Subject=Hey%20Lisa" target="_top">Email Me</a></span>
  </footer>

  </body>

  <script type="text/javascript" src="/javascripts/simulate.js" charset="utf-8"></script>
</html>
